<div class="row justify-content-center">
    <div class="col-8 align-self-center">
        <div class="card" style="border: 0px;">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRLe5PABjXc17cjIMOibECLM7ppDwMmiDg6Dw&usqp=CAU"
                 class="card-img-top rounded-circle" alt="...">
            <div class="card-body">
                <h5 class="card-title text-center">@ntkimhue</h5>
                <h3 class="card-title text-center">{{user.displayName}}</h3>
                <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk
                    of the card's
                    content.</p>
            </div>
        </div>
    </div>
</div>
{{#each socialNetworks}}
<div class="row justify-content-center social-info-group">
<div class="col-4 align-items-center social-info">
    <i class="bi bi-{{this.name}}" style="font-size: 2rem"></i>
    <a href="{{this.profileUrl}}">{{this.accountName}}</a>
</div>
<div class="col-3 social-info-btn">
    <button class="btn btn-copy"><i class="bi bi-clipboard"></i></button>
    <a href="{{this.profileUrl}}" class="btn-access"><i class="btn bi bi-arrow-right-circle-fill" style="font-size: 2rem"></i></a>
</div>
</div>
{{/each}}


<script>
document.addEventListener("DOMContentLoaded", function () {
    $(".btn-copy").on("click", (e) => {
        e.preventDefault()
        e.stopPropagation()
        let profileUrlEl = $(e.target).parents(".social-info-btn").find("a.btn-access").attr("href")
        navigator.clipboard.writeText(profileUrlEl)
        alert("Copy thành công")


    })
});


</script>
